</br></br></br></br>
<div class="footer">
    <footer>
	<p>Pettenkoferstraße 2, 34121 Kassel &emsp;&emsp;
	Tel: 0561 - 31 62 344 &emsp;&emsp;
	Fax: 0561 - 31 62 343 &emsp;&emsp;
	<a href="mailto:ankebergmann-kassel@t-online.de" style="color: white">
	ankebergmann-kassel@t-online.de</a></p>
	<p>&copy; Copyright 
	<script type="text/javascript">
    document.write(new Date().getFullYear());
    </script> Sandra Bergmann</p>
	</footer>
  </div>