<head>
    <% include ../partials/head %>
</head>

<header>
  <% include ../partials/navbar %>
</header>

<div class="page-header">
  <h1> Vita</h1>
</div>

<div class="content">
  <img class="anke-bergmann" src="/images/abergmann.jpg" alt="Anke Bergmann" />
  <!-- <img src="./images/abergmann.png" alt="Anke Bergmann" /> -->
  <p> <br/><br/>
  1964 wurde ich in Hamburg geboren. 
  Ich bin verheiratet und habe drei erwachsene Kinder. <br/>
  <br/></p>
  <p><b>
  1971-1983 
  </b></p>
  <p>
  Abschluss mit mittlerer Reife in Offenbach
  </p>
  <p><b>
  1983-1986 
  </b></p>
  <p>
  Lehre zur Tischlerin an der Hochschule für Bildende Künste in Hamburg
  </p>
  <p><b>
  1986-1989 
  </b></p>
  <p>
  Gesellin am Institut für Schiffbau in Hamburg
  </p>
  <p><b>
  1988 
  </b></p>
  <p>
  Ausbilder-Eignungsprüfung in Hamburg
  </p>
  <p><b>
  1989 
  </b></p>
  <p>
  Meisterprüfung Teil III in Hamburg
  </p>
  <p><b>
  1989-1991
  </b></p>
  <p>
  Ausbildung zur staatlich geprüften Holztechnikerin an der Fachschule für Technik in Hamburg
  </p>
  <p><b>
  1991-2014
  </b></p>
  <p>
  Arbeiten an eigenen Objekten
  </p>
  <p><b>
  2015
  </b></p>
  <p>
  Firmengründung Anke Bergmann UG (haftungsbeschränkt) - Geschäftsführerin
  </p>
  <p><b>
  Feb 2015
  </b></p>
  <p>
  Lehrgang Barrierefrei Bauen und Wohnen, zertifizierte Fachkraft für barrierefreies Bauen und Wohnen
  </p>
</div>

<% include ../partials/footer %>